/* Style for the header section */
.header {
    background-color: #333;
    padding: 20px;
    text-align: left;
}

.page-title {
    font-size: 48px;
    color: #FFFFFF;
    margin: 0;
}

/* Style for the main content section */
.main-content {
   
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* Style for the text section */
.text-section {

    padding: 20px;
    font-size: 20px;
}

/* Style for the image section */
.image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-items: center;
}

/* Style for CPU images and labels */
.cpu-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.cpu-image img {
    max-width: 100%;
    height: auto;
}

.cpu-image p {
    font-size: 18px;
    margin: 5px 0;
}

/* Style to create a two-column layout */
@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .text-section, .image-section {
        width: 100%;
    }
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.image-slideshow {
	width: 600px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
}
.image-slideshow > div {
	width: 600px;
    height: 300px;
	animation: move 15s ease-in-out 2s infinite alternate;
    display:inline-block;
}
.image-slideshow > div div {
	position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
}
.image-slideshow h2 {
	padding: 15px;
    margin: 0;
    font-size: 18px;
    color: #f9f9f9;
}
.image-slideshow p {
	padding: 0 15px 15px 15px;
    margin: 0;
    font-size: 14px;
    color: #dddddd;
}
@keyframes move {
	0%,30% { transform: translateX(0); }
   	40%,70% { transform: translateX(-600px); }
}