body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* cursor: none;  Hide the default cursor */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 10;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 36px;
    color: #FFFFFF;
    margin-right: 20px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.sub-menu {
    list-style: none;
    padding: 0;
}

.sub-menu li {
    margin: 5px 0;
}

.sub-menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.hero {
    background: #333;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 0;
    position: relative;
    overflow: hidden; /* Ensure content overflows are hidden */
}

.hero-title {
    font-size: 40px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0074E4;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0053A9;
}

/* Table styles */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    border: 2px solid #333; /* Add border to the table */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

